{% unless page.noWhitespace %}
<div style="padding-top: 6.25rem;"></div>
{% endunless %}
<!-- Desktop Navbar -->
<nav class="mt-3 border fixed-top navbar navbar-expand-lg rounded site-navbar navbar-desktop d-lg-inline d-none">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-lg-flex">
      <a class="navbar-brand col-lg-3 me-0" href="/">
        <img src="{{ "/assets/Redon-Tech-Logo-New-Transparent.png" | relative_url }}" alt="Bootstrap" height="30">
        <span class="text-body-emphasis fw-bold">Redon Tech</span>
      </a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="https://studios.redon.tech" target="_blank">Redon Studios</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
          <ul class="dropdown-menu">
            {% for project in site.data.projects %}
            <li><a class="dropdown-item" href="{{ project.link }}">{{ project.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/knowledgebase">Knowledgebase</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Support
            Us</a>
          <ul class="dropdown-menu">
            {% for project in site.data.donate %}
            <li><a class="dropdown-item" href="{{ project.link }}" target="_blank">{{ project.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav d-lg-flex col-lg-3 justify-content-lg-end">
        {% for social in site.data.socials %}
        <li class="nav-item me-1 ms-1 py-1"><a class="nav-link px-1" href="{{ social.link }}" target="_blank"><i
              class="{{ social.icon }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile Navbar -->
<nav class="border-bottom fixed-top navbar site-navbar d-lg-none d-inline">
  <div class="container-fluid">
    <a class="navbar-brand col-lg-3 me-0" href="/">
      <img src="{{ "/assets/Redon-Tech-Logo-New-Transparent.png" | relative_url }}" alt="Bootstrap" height="30">
    </a>
    <button class="btn btn-secondary-outline" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body navbar" style="display: initial;">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="https://studios.redon.tech" target="_blank">Redon Studios</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
        <ul class="dropdown-menu">
          {% for project in site.data.projects %}
          <li><a class="dropdown-item" href="">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/knowledgebase">Knowledgebase</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Support Us</a>
        <ul class="dropdown-menu">
          {% for project in site.data.donate %}
          <li><a class="dropdown-item" href="{{ project.link }}" target="_blank">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
</div>