---
layout: default
---

<div class="min-vh-100">
  <div class="hero-bloom" id="header">
    <img src="{{ "/assets/stars.png" | relative_url }}" class="stars" alt="Stars" data-scroll data-scroll-speed="0.3">

    <div class="px-4 mb-5 text-center site-hero" data-scroll data-scroll-speed="0.3">
      <img class="d-block mx-auto mb-n2 mt-n3" src="{{ "/assets/Redon-Tech-Logo-New-Transparent.png" | relative_url }}"
        alt="Redon Tech" width="130">
      <h1 class="col-lg-6 mx-auto display-4 width-700 text-body-emphasis fw-bold" data-scroll>The best solutions for you
        and your
        players.</h1>
    </div>
  </div>


  <div class="mt-4 text-center">
    <h2>Trusted by over <span class="fw-semibold text-primary text-primary-glow">30,000</span>
      creators</h2>
    <p>We create quality free and open source script and plugins to streamline your development expierence.</p>

    <a href="{{ site.data.socials[0].link }}" target="_blank" type="button" class="btn btn-outline-primary my-2">Join
      Our Discord
      <i class="bi bi-box-arrow-up-right"></i></a>
    <a href="#projects" type="button" class="btn btn-outline-dark my-2">View Our Projects <i
        class="bi bi-arrow-right"></i></a>
  </div>

  <div class="d-none d-lg-block mt-5 text-center">
    <h3>Learn Why</h3>
    <h1 class="mt-4 bounce"><i class="bi bi-arrow-down"></i></h1>
  </div>
</div>

<div class="container px-4" id="about" data-scroll data-scroll-speed="0.05">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light border fs-2 mb-3">
        <i class="bi bi-braces-asterisk"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Open Source</h3>
      <p>We are dedicated to making the best <b>free</b> and open source projects for our community. We invite you to
        use, modify, and study our code.</p>
      <a href="{{ site.data.socials[1].link }}" class="icon-link">
        View our GitHub
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>

    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light border fs-2 mb-3">
        <i class="bi bi-question-lg"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Free Support</h3>
      <p>We provide top notch support for all of our projects. We are always here to help you setup and configure our
        projects.</p>
      <a href="{{ site.data.socials[0].link }}" class="icon-link">
        Join The Community
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>

    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light border fs-2 mb-3">
        <i class="bi bi-envelope-open-heart"></i>
      </div>
      <h3 class="fs-2 text-body-emphasis">Community Funded</h3>
      <p>The community funds our projects. We pour our hearts and time into these projects. Join our growing list of
        supporters
        and help us make our projects.</p>
      <a href="{{ site.data.socials[2].link }}" class="icon-link">
        Donate
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>
  </div>
</div>

<div class="container px-4 py-5 scroll-offset" id="projects" data-scroll data-scroll-speed="0.1">
  <h2 class="pb-2 text-center fw-bold">Our Projects</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
    {% for project in site.data.projects %}
    <div class="col">
      <a href="{{ project.link }}" target="_blank"
        class="card-hover card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-crust project-image"
        style="background-image: url('assets/images/{{ project.image }}');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold align-text-bottom">{{ project.name }}</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="d-flex align-items-center me-3">
              <i class="bi bi-tag"></i>
              <small class="ms-2">{{ project.version }}</small>
            </li>
            <li class="d-flex align-items-center">
              <i class="bi bi-code"></i>
              <small class="ms-2">{{ project.type }}</small>
            </li>
          </ul>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container my-5">
  <div class="p-5 text-center bg-body-mantle rounded-3">
    <h1 class="text-body-emphasis">Missing Something?</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">Are we missing a product that you believe would be a great fit for our
      community? Join our community and make a suggestion!</p>
    <a href="{{ site.data.socials[0].link }}" target="_blank" class="btn btn-primary" type="button">
      Make a suggestion
      <i class="bi bi-box-arrow-up-right"></i>
    </a>
  </div>
</div>