---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col">
      <article itemscope itemtype="http://schema.org/BlogPosting">

        <header>
          <h1 class="fw-bolder mb-4" itemprop="name headline" id="top">{{ page.title | escape }}</h1>
          <!-- <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
            itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
          </p> -->
        </header>

        <div itemprop="articleBody">
          {{ content }}
        </div>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </article>
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 7rem;">
        <div class="card mb-4">
          <div class="card-header">On This Page</div>
          <div class="card-body">
            {% include toc.html class="list-unstyled" anchor_class="link-body-emphasis.d-inline-flex.text-decoration-none.rounded" html=content %}
          </div>
        </div>

        {% if page.sidebar %}
        <div class="card">
          <div class="card-header">{{ page.sidebar | capitalize }}</div>
          <div class="card-body">
            {% for nav in site.data.navigation[page.sidebar] %}
            <ul class="list-unstyled">
              <li class="border-bottom pb-1">
                <span class="fw-semibold">{{ nav.title }}</span>
              </li>
              <li class="ps-3 pt-1">
                <ul class="nav flex-column">
                  {% for link in nav.links %}
                  <li class="nav-item"><a class="dropdown-item" href="{{ link.link }}">{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>